################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.smoke
/.vs
/.claude/settings.local.json
